@import url(https://fonts.googleapis.com/css?family=Raleway:600);

.maze-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid white;
  flex-wrap: wrap;
  justify-content: center;
}

.maze-cell {
  flex-shrink: 0;
  margin: 0.1em;
  display: flex;
  text-align: center;
}

.road {
  background-color: lightgrey;
}

.start {
  background-color: rgb(60, 243, 84);
}

.finish {
  background-color: rgb(241, 92, 92);
}

.obstacle {
  background-color: black;
}

.on-path {
  background-color: #2ddcf060;
}

.maze-cell > span {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  position: relative;
}

.menu {
  margin: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .srchbtn {
    border: none;
    padding: 16px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    border-radius: 30px;
    align-self: center;
  }
  .srchbtn:hover {
    background-color: white;
    color: #555555;
  }
}

//TITLE DESIGN
h1 {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	font-weight: 600;
	span {
    padding-left: 0.1em;
    padding-right: 0.1em;
		display: inline-block;
		opacity: 0;
		transform: translateY(20px) rotate(90deg);
		transform-origin: left;
		animation: in 0.5s forwards;
		@for $i from 1 to 8 {
  		&:nth-child(#{$i}) { 
				animation-delay: $i * 0.1s;
			}
		}
	}
}
//TITLE ANIMATION
@keyframes in {
  0% { 
		opacity: 0;
		transform: translateY(50px) rotate(90deg);
	}
	100% { 
		opacity: 1;
		transform: translateY(0) rotate(0);
	}
}




