.maze-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid white;
  flex-wrap: wrap;
  justify-content: center;
}

.maze-cell {
  flex-shrink: 0;
  margin: 0.1em;
  display: flex;
  text-align: center;
}

.road {
  background-color: lightgrey;
}

.start {
  background-color: rgb(60, 243, 84);
}

.finish {
  background-color: rgb(241, 92, 92);
}

.obstacle {
  background-color: black;
}

.on-path {
  background-color: #47e3f7;
}

.maze-cell > span {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  position: relative;
}

.menu {

  display: flex;
  flex-direction: column;
  width: 100%;
  .srchbtn {
    border: none;
    padding: 16px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    border-radius: 30px;
    align-self: center;
  }
  .srchbtn:hover {
    background-color: white;
    color: black;
  }
}


